<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{modify}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="container">
    <h1 th:text="#{modify}"></h1>
    <form class="form-group" th:object="${user}" th:method="post" th:action="@{/modify}">
        <input th:field="*{userId}" type="text" th:hidden="true"/>
        <div>
            <label>Imie: </label>
            <input type="text" th:field="*{firstName}">
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"/>
        </div>
        <div>
            <label>Nazwisko: </label>
            <input type="text" th:field="*{lastName}">
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"/>
        </div>
        <div>
            <label>Data urodzenia: </label>
            <input type="date" th:field="*{birthDateTemp}">
            <p th:if="${#fields.hasErrors('birthDateTemp')}" th:errors="*{birthDateTemp}" style="color: red"/>
        </div>
        <div>
            <button type="submit" class="btn btn-dark">Popraw</button>
        </div>
    </form>
</div>

</body>
</html>